
@{
    ViewData["Title"] = "SuccessPage";
    Layout = "~/Views/Shared/_StudentTheme.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">


                <div class="jumbotron">
                    <h4 class="text-center">Thanks</h4>
                    <p class="text-center">Your information is stored</p>
                </div>


            </div>
        </div>
    </div>
</div>


