
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminTheme.cshtml";
}



<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">


                <div class="jumbotron">
                    <h4 class="text-center">Welcome To Admin Panel</h4>
                </div>

  
            </div>
        </div>
    </div>
</div>

