
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet"href="~/css/site.css"/>
     <link rel="stylesheet"href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <meta name="viewport" content="width=device-width" />
    <title>test1</title>

</head>
<body>
    <div class="row">
        <div class="col-12">
            <h2><span style="color:#ff7800">Forex</span><span style="color:#130f40"> Trade</span> </h2>
        </div>

    </div>
</body>
</html>
