<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Error 404 | DashLite Admin Template</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="~/AdminTheme/assets/css/dashlite.css">
    <link id="skin-default" rel="stylesheet" href="~/AdminTheme/assets/css/theme.css">
</head>

<body class="nk-body bg-white npc-default pg-error">
    <div class="nk-app-root">

        <div class="nk-main ">

            <div class="nk-wrap nk-wrap-nosidebar">

                <div class="nk-content ">
                    <div class="nk-block nk-block-middle wide-md mx-auto">
                        <div class="nk-block-content nk-error-ld text-center">
                            <img class="nk-error-gfx" src="~/AdminTheme/images/gfx/error-404.svg" alt="">
                            <div class="wide-xs mx-auto">
                                <h3 class="nk-error-title">Thanks For Registration</h3>
                                <p class="nk-error-text">Your Request is in progress , we shall notify to you shortly.</p>
                                <a asp-action="Registeration" asp-controller="Accounts" class="btn btn-lg btn-primary mt-2">Back</a>
                            </div>
                        </div>
                    </div><!-- .nk-block -->
                </div>

            </div>

        </div>

    </div>

    <script src="~/AdminTheme/assets/js/bundle.js"></script>
    <script src="~/AdminTheme/assets/js/scripts.js"></script>
   
</body>
</html>