
@{
    ViewData["Title"] = "Thankyou";
    Layout = "~/Views/Shared/_TeacherTheme.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">


                <div class="jumbotron">
                    <h4 class="text-center">Thank you for submitting form</h4>
                    <p class="text-center">Your information has been stored , we shall notify to you shortly</p>
                </div>


            </div>
        </div>
    </div>
</div>

